<div class="container mt-3">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
          <%= list.name %>
          <%= link_to list_path(list), class: 'card-add-link' do %>
            <i class="fa-solid fa-hand-pointer fa-2xs" style="color: #ffffff;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
